@import "tailwindcss";

:root{
  --marrom: #57342D;
  --laranja: #df6d56;
  --bege: #cfd3c2;
  --branco: #F5F5F5;
  --header: #f9fdea;
  --cinza: #f0f0f0;
}

@font-face {
  font-family: "Logo";
  src: url("../fonts/Gotu-Regular.ttf") format("truetype");
}

*{
  margin: 0;
}

#logo{
  font-size: 32px;
  font-family: "Logo", sans-serif;
}

#Texto{
  font-family: "Logo", sans-serif;
}

#Filtro{
  font-family: "Logo", sans-serif;
}
