@import "tailwindcss";

:root {
  --marrom: #57342d;
  --laranja: #df6d56;
  --bege: #cfd3c2;
  --branco: #f5f5f5;
  --header: #f9fdea;
  --cinza: #f0f0f0;
}

@font-face {
  font-family: "Logo";
  src: url("../fonts/Gotu-Regular.ttf") format("truetype");
}

* {
  margin: 0;
}

#logo {
  font-size: 32px;
  font-family: "Logo", sans-serif;
}

#Texto {
  font-family: "Logo", sans-serif;
}

#Filtro {
  font-family: "Logo", sans-serif;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@utility animate-slide-in {
  animation: slide-in 0.3s ease-out;
}
